{erl_opts, [debug_info]}.
{deps, [
    % xxx: add egl 1.5 here
]}.

{pre_hooks, [
    {"(linux|darwin)", compile,
        "env "
        "ERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "ERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
        "make -C c_src"
    }
]}.
{post_hooks, [
    {"(linux|darwin)", clean, "make -C c_src clean"}
]}.
